body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: rgb(223, 31, 31);
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.container {
    background: #fff;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
}

input,
select {
    margin-top: 6px;
    border: 1px solid #c9c9c9;
}

button {
    background-color: rgb(223, 31, 31);
    padding: 12px;
    font-weight: bold;
    color: white;
    border: none;
    margin-top: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(250, 98, 98);
}

.container #botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

a {
    text-decoration: none;
}

#botao pre {
    background: rgb(223, 31, 31);
    color: white;
    padding: 12px;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    font-family: monospace;
    text-align: center;
}

#parcelas-container {
    display: none;
}
