* {
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(223, 31, 31);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
button {
    width: 50%;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(223, 31, 31);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: rgb(250, 98, 98);
}
pre {
    background-color: #ddd;
    padding: 15px;
    border: 1px solid #aaa;
    color: #000;
    border-radius: 8px;
    margin-top: 20px;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
}
